* {
    font-family: Calibri;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    background: url('../images/back.jpeg');
    width: 90%;
}

body, #menu, #centre
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}

#menu {
    /*float: left;*/
    /*width: 15%;*/
    margin: 10em 0em;
    padding: 1em;
    background-color: #5edc82;
}

#centre {
    margin: 10em 0em;
    padding: 1em;
    background-color: #eeeeee;
}

#bas {
    clear: both;
    color: #a6e1ec;
    padding: 1em;
    background-color: #3c3c3c;
}

label {
    float: left;
    width: 250px;
    text-align: left;
}

input, select {
    margin-bottom: 15px;
}

table, tr, td, th {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 5px;
    text-align: center;

}

table {
    width: 80%;
}

.accueil {
    margin-top: 20px;
}

.accueil--header {
    margin-left: -40px;
}

.accueil__first {
    border: 1px solid #3c3c3c;
    height: 315px;
}

.accueil__second {
    /*margin-left: 40px;*/
}

.accueil__third--title {
    height: 25px;
}

.accueil__third--img {
    background: url("../images/leg4.jpg") no-repeat;
    background-size: contain;
    height: 290px;
    padding-right: -10px;
    padding-top: -50px;
    width: 70%;
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px) {
    body {
        width: 90%;
    }
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 728px) and (max-width: 1280px) {
    body {
        width: 100%;
    }
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (max-width: 728px) {
    body {
        width: 100%;
    }
}


