* {
    font-family: Calibri;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    background: url('../images/back.jpeg');
    width: 100%;
}

body, #menu, #centre
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}

#menu {
    /*float: left;*/
    /*width: 15%;*/
    margin: 13em 0em;
    padding: 1em;
    background-color: #60f498;
}

#centre {
    background-color: #eeeeee;
    margin: 13em 0em;
    padding: 1em;

}

#bas {
    clear: both;
    color: #a6e1ec;
    padding: 1em;
    background-color: #333745;
}

label {
    float: left;
    width: 250px;
    text-align: left;
}

input, select {
    margin-bottom: 15px;
}

table, tr, td, th {
    border-bottom: 1px solid #DAEDE2;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 5px;
    text-align: center;

}

table {
    width: 80%;
}

.accueil {
    margin-top: 20px;
}

/*.accueil--header {
    margin-left: -40px;
}*/

.accueil__second {
    margin-left: 40px;
}

.accueil__third {
    margin-left: -60px;
}

.accueil__third--title {
    text-align: center;
    height: 25px;
    /*margin-left: 25px;*/

}

.accueil__third--img {
    background: url("../images/leg4.jpg") no-repeat;
    background-size: contain;
    height: 290px;
    padding-right: -10px;
    padding-top: -50px;
    width: 70%;
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px) {
    body {
        width: 90%;
    }

    .accueil__first {
        border: 1px solid #333745;
        height: 295px;
    }

    .accueil__second {
        margin-left: 40px;
    }
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 728px) and (max-width: 1280px) {
    body {
        width: 100%;
    }

    #centre {
        margin: 1em 0em;
    }

    #menu {
        margin: 1em 0em;
    }

    .accueil__first {
        border: 1px solid #333745;
        height: 195px;
    }

    .accueil__second {
        margin-left: 40px;
    }

    .accueil__third {
        margin-left: -60px;
    }

    .accueil__third--title {
        height: 25px;
        margin-left: 45px;
    }

    .accueil__third--img {
        background: url("../images/leg4.jpg") no-repeat;
        background-size: contain;
        height: 290px;
        padding-right: -10px;
        padding-top: -50px;
        width: 70%;
    }
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (max-width: 728px) {
    body {
        width: 100%;
    }

    #centre {
        margin: 1em 0em;
    }

    #menu {
        margin: 1em 0em;
    }

    .accueil__first {
        border: 1px solid #333745;
        height: 195px;
    }

    .accueil__second {
        margin-left: -20px;
    }

    .accueil__third {
        margin-left: -60px;
    }

    .accueil__third--title {
        height: 25px;
        margin-left: 45px;
    }

    .accueil__third--img {
        background: url("../images/leg4.jpg") no-repeat;
        background-size: contain;
        height: 290px;
        padding-right: -10px;
        padding-top: -50px;
        width: 70%;
    }
}

#totalCart {
    font-size: 30px;
    text-align: center;
}