.header {
    background-color: #333745;
    color: #a6e1ec;
    letter-spacing: 3px;
    margin-top: 0px;
    padding: 0.5em;
}

.header h1 {
    font-size: 3.0em;
}

.header__nav {
    color: #333745;
    font-size: 1.1em;
    font-weight: bold;
    overflow: hidden;
    padding: 1em 1em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.header__nav--link1 {
        /*#a6e1ec*/
    background-color: #a6e1ec;
    border-radius: 5px 0px 0px 0px;
    line-height: 2.5em;
    overflow: hidden;
}

.header__nav--link2 {
    background-color: #a6e1ec;
    border-radius: 0px 0px 5px 0px;
    line-height: 2.5em;
    overflow: hidden;
}

nav a:hover {
    background-color: #EA2E49;
    display: inline-block;
    transform: scale(1.1);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.menu {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.submenu {
    font-style: oblique;
}

.menu .menu {
    display: none;
}

.menu li:hover .menu, .menu li {
    display: inline-block;
    position: relative;
    z-index:99999;
}

.admin {
    color: #a6e1ec;
    display: inline-block;
    margin-top: 1em;
}
