.accueil {
    margin-top: 20px;
}

.accueil__second {
    margin-left: 10px;
}

/*.accueil__third {*/
    /*margin-left: -60px;*/
/*}*/

/*.accueil__third--title {*/
    /*!*text-align: center;*!*/
    /*height: 25px;*/
    /*margin-left: -25px;*/
/*}*/

.accueil__third--img {
    background: url("../images/leg4.jpg") no-repeat;
    background-size: contain;
    height: 290px;
    padding-right: -10px;
    padding-top: -50px;
    width: 70%;
}