.products__title {
    /*font-size: 30px;*/
    /*margin-top: 30px;*/
}

.product {
    height: 80%;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: background-color 1.5s ease-in-out, color 1.5s ease-in-out;
    width: 100%;
    z-index: 5;
}

.product:hover {
}

.product__transform {
    height: 200px;
    margin-left: -10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 5;
}

.product:hover .product__transform {
    transform: scale(1.1);
    transition-duration: 2s;
}

.product__title {
    color: #a6e1ec;
    display: inline-block;
    font-size: 19px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.product__title--cart {
    border: 1px solid silver;
    border-radius: 5px;
    display: inline-block;
    margin-left: 15px;
    position: relative;
    z-index: 10;
}

.product__description {
    opacity: 0;
    position: relative;
    transition-duration: 2s;
    z-index: 20;
}

.product:hover .product__description {
    opacity: 1;
    position: relative;
    z-index: 20;
}